@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#urlbar[focused="true"] {
    border: solid 1px #333 !important;
}

.titlebar-button > .toolbarbutton-icon {
	height: 16px !important;
	min-height: 16px !important;
	width: 16px !important;
	min-width: 16px !important;
}

.titlebar-button > .toolbarbutton-icon { }

/* Arc-Dark */
#PanelUI-menu-button:active{
    background-color: #2F343F !important;
}

#navigator-toolbox{
    background-color: #2F343F !important;
}

#titlebar {
    background-color: #2F343F !important;
}

#PanelUI-menu-button{
    margin-right: 6px !important;
}

#back-button {
    margin-left: 6px !important;
}
 
/* Height */
#nav-bar {
  min-height: 40px !important;
  z-index: 3
}

#urlbar {
    min-height: 30px !important;
}
 
/* Clean Up */

#urlbar .urlbar-input-box {
    text-align: left;
}

.urlbar-input-box > .urlbar-input::placeholder {
    opacity: 0 !important;
}

/* Hide Tabs */
#TabsToolbar {
    min-height: 40px !important;
        margin-top: -40px !important;
    padding-top: 0px !important;
        -moz-box-ordinal-group: 2 !important;
}
 
/* Client Side Decorations */
#titlebar-buttonbox {
    height: 39px !important;
    margin-bottom: 1px !important;
    background-color: #2F343F !important;
}

window[sizemode="maximized"] #titlebar-buttonbox {
    margin-right: -5px !important;
}

#nav-bar {
    margin-right: 90px;
    background-color: #2F343F !important;
}

#titlebar-buttonbox {
    z-index: 3 !important;
}

.titlebar-placeholder {
    display:none !important;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbarbutton#alltabs-button {
	-moz-binding: url("userChrome.xml#js");
}

#titlebar-buttonbox{
    background: #2F343F !important;
}

/* Tree Style Tabs */

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar {
  opacity: 0;
  pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/* Sidebar min and max width removal */
#sidebar {
    max-width: none !important;
    min-width: 0px !important;
}

#aHTMLTooltip {
  display: none !important
}

/*Collapse in default state and add transition*/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  overflow: hidden;
  min-width: 0px;
  max-width: 0px;
  transition: all 0.2s ease;
  border-right: 1px solid #0c0c0d;
  z-index: 2;
}

/*Expand to 260px on hover*/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
  min-width: 260px !important;
  max-width: 260px !important;
}

/* Hide main tabs toolbar */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar {
  opacity: 0;
  pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}

/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse;
}

/* Shrink sidebar until hovered, when using Tree Style Tab. */
:root {
    --thin-tab-width: 30px;
    --wide-tab-width: 200px;
}
#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
    min-width: var(--wide-tab-width) !important;
    max-width: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    position: relative !important;
    transition: all 100ms !important;
    min-width: var(--thin-tab-width) !important;
    max-width: var(--thin-tab-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
    transition: all 200ms !important;
    min-width: var(--wide-tab-width) !important;
    max-width: var(--wide-tab-width) !important;
    margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
}
/* Hide border on tab bar, force its state to 'scroll', adjust margin-left for width of scrollbar. */ 
#tabbar { border: 0; overflow-y: scroll !important; margin-left: -18px !important; }

/* Hide .twisty and adjust margins so favicons have 7px on left. */
.tab .twisty {
    visibility: hidden;
    margin-left: -12px;
}

/* Push tab labels slightly to the right so they're completely hidden in collapsed state */
.tab .label {
    margin-left: 7px;
}

/* Hide close buttons on tabs. */
.tab .closebox {
    visibility: collapse;
}

.tab:hover .closebox {
    visibility: initial;
}

/* Hide sound playing/muted button. */
.sound-button::before {
    display: none !important;
}

/* ################################################ */
/* ##### COLOR THEME ############################## */
/* ################################################ */

:root {
    background-color: #383838;
}
#tabbar {
    border-right: 1px solid #1d1d1d;
    box-shadow: none !important;
}
.tab {
    box-shadow: none !important;
}
.tab:hover {
   filter: opacity(80%) drop-shadow(0px 0px 0px #3498DB);
}

/* Adjust style for tab that has sound playing. */
.tab.sound-playing .favicon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: #FFFFFF;
    animation: pulse 2s ease-out 0s infinite;
    z-index: -1;
    opacity: 0;
}

/* Adjust style for tab that is muted. */
.tab.muted {
    opacity: 0.5;
}

#main-window[titlepreface="[1] "] #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  visibility: collapse !important;
}
